/* =========================================
   VARIABLES
========================================= */

:root {

    /* =========================================
       DARK THEME
    ========================================= */

    --background: #080B12;

    --surface: #111722;

    --surface-light: #192131;


    /* =========================================
       LIGHT THEME
    ========================================= */

    --section-light: #E8ECF3;

    --section-light-surface: #F5F7FA;

    --section-light-surface-alt: #DDE3EC;


    /* =========================================
       BORDERS
    ========================================= */

    --border: rgba(255, 255, 255, 0.10);

    --border-bright: rgba(255, 255, 255, 0.20);

    --light-border: rgba(10, 15, 25, 0.12);

    --light-border-bright: rgba(10, 15, 25, 0.20);


    /* =========================================
       DARK TEXT
    ========================================= */

    --text: #F4F6FA;

    --text-muted: #8993A5;


    /* =========================================
       LIGHT TEXT
    ========================================= */

    --light-text: #0A0F18;

    --light-text-muted: #5D6675;


    /* =========================================
       ACCENT
    ========================================= */

    --accent: #7257FF;

    --accent-light: #947FFF;


    /* =========================================
       LAYOUT
    ========================================= */

    --max-width: 1400px;

    --page-padding:
        clamp(20px, 5vw, 80px);

    --section-padding:
        clamp(90px, 11vw, 170px);
}